<p id="notice"><%= notice %></p>

<p>
  <strong><%= @beer_club.name %></strong>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
    <% if not @beer_club.members.empty? %>
    Members:
        <ul>
          <% @beer_club.members.each do |member| %>
          <li><%= link_to member.username, member %></li>
          <% end %>
        </ul>
    <% else %>
        Club has no members.
    <% end %>
</p>

<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Join club", :class => 'btn btn-primary' %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club), :class => 'btn btn-primary' if current_user %>
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' if current_user %>