<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
</p>

<p>
  <% if @user.ratings.empty? %>
      has not given any ratings!
  <% else %>
      has given <%= pluralize(@user.ratings.size, 'rating', 'ratings') %>, average <%= @user.average_rating %>

      <ul>
        <% @user.ratings.each do |rating| %>
            <li>
              <%= rating %>
              <% if currently_signed_in? @user %>
                <%= link_to 'delete', rating, :method => :delete %>
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
</p>

<p>
  <% if @user.beer_clubs.empty? %>
      hasn't joined any beer clubs!
  <% else %>
    <strong>belongs to</strong>
    <ul>
      <% @user.confirmed_memberships.each do |ms| %>
          <li><%= link_to ms.beer_club.name, ms.beer_club %></li>
      <% end %>
    </ul>
      <strong>application pending for</strong>
      <ul>
        <% @user.unconfirmed_memberships.each do |ms| %>
            <li><%= link_to ms.beer_club.name, ms.beer_club %></li>
        <% end %>
      </ul>
<% end %>
</p>

<p>
  <% if not @user.ratings.empty? %>
    Favorite beer style is <%= @user.favorite_style.name %> and favorite brewery is <%= @user.favorite_brewery %>.
  <% end %>
</p>

<% if currently_signed_in? @user %>
    <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>